# Tang Nano 1K external wiring profile
# Top: mk61_top_1k
#
# This profile maps mk61_top_1k ports to FPGA pins exposed on board headers.
# Verify against your exact board revision and external wiring.
#
# Source reference for pin identities:
# https://iot-kmutnb.github.io/blogs/fpga/tang_nano_boards/tang_nano_1k_schematic.pdf

IO_LOC  "clk" 47;
IO_PORT "clk" IO_TYPE=LVCMOS33;

IO_LOC  "rst" 40;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "k1" 41;
IO_PORT "k1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "k2" 38;
IO_PORT "k2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "mode[0]" 39;
IO_PORT "mode[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "mode[1]" 42;
IO_PORT "mode[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "dcycle[0]" 15;
IO_PORT "dcycle[0]" IO_TYPE=LVCMOS33;
IO_LOC  "dcycle[1]" 16;
IO_PORT "dcycle[1]" IO_TYPE=LVCMOS33;
IO_LOC  "dcycle[2]" 17;
IO_PORT "dcycle[2]" IO_TYPE=LVCMOS33;
IO_LOC  "dcycle[3]" 18;
IO_PORT "dcycle[3]" IO_TYPE=LVCMOS33;

IO_LOC  "syncout" 19;
IO_PORT "syncout" IO_TYPE=LVCMOS33;

IO_LOC  "segment[0]" 20;
IO_PORT "segment[0]" IO_TYPE=LVCMOS33;
IO_LOC  "segment[1]" 22;
IO_PORT "segment[1]" IO_TYPE=LVCMOS33;
IO_LOC  "segment[2]" 23;
IO_PORT "segment[2]" IO_TYPE=LVCMOS33;
IO_LOC  "segment[3]" 24;
IO_PORT "segment[3]" IO_TYPE=LVCMOS33;
IO_LOC  "segment[4]" 27;
IO_PORT "segment[4]" IO_TYPE=LVCMOS33;
IO_LOC  "segment[5]" 28;
IO_PORT "segment[5]" IO_TYPE=LVCMOS33;
IO_LOC  "segment[6]" 29;
IO_PORT "segment[6]" IO_TYPE=LVCMOS33;
IO_LOC  "segment[7]" 30;
IO_PORT "segment[7]" IO_TYPE=LVCMOS33;
